.textcenter{
    text-align: center;
}

.bg-red{
    background-color: rgb(207, 181, 181);
}

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
